<div class="main">
  <div class="logo">
    <img src="../public/images/CS WORLD (1).png" alt="Logo" />
  </div>
  <nav>
    <a href="#">Home</a>
    <a href="/service">Services</a>
    <a href="#">About</a>
    <a href="#">{{channel}}</a>
  </nav>
  <div>
    <a href="./login.html"><button class="btn" id="log" onclick="mybtn()">Login</button></a>
  </div>
  </div>
</div>