{{>header}}
<main>
  <section class="head-left">
      <h1>Welcome To The World Of Alogrithms</h1>
      <h2>Together We Ace Tech Interviews</h2>
      <p>Join The Exciting Journey Of Coding World</p>
      <a href="https://www.programiz.com/javascript/online-compiler/" target="_blank"><button>Let's Code Together</button></a>
  </section>

  <section class="head-right">
    <img src="../public/images/myDesign.png" alt="coder image">
  </section>
  {{errorcomment}}
</main>